<div class="container-fluid ">
    <div class="row">
        <nav class="col-12 border-bottom navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Weather report</span>
        </nav>
    </div>
    <div class="row pt-2">
        <div class="col-4 input-group my-3">
            <input type="text" class="form-control" [(ngModel)]='city' placeholder="Search city"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="getWeatherData()" type="button">Search</button>
            </div>
        </div>
    </div>

    <div class="row px-3 pt-1">
        <ul class="nav nav-tabs col-12">
            <li class="nav-item">
                <a class="nav-link " routerLinkActive='active' routerLink='/weather/table'>Tabular</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLinkActive='active' routerLink='/weather/line-chart'>Line chart</a>
            </li>
        </ul>
        <div class="py-2 w-100">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row px-2 pt-0">
    </div>
</div>